html {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

nav {
	background: MediumSeaGreen;
	border: solid NavajoWhite 1px;
	border-radius: 10px;
	height: 70px;
}

ul {
	list-style: none;
}

li {
	border: solid Peru 1px;
	border-radius: 10px;
	background: Orange;
	margin: 0 0 0 1em;	
	padding: 8px;
	float: left;
	font-size: 15px;
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: darkgreen;
}