html {
	background: Ivory;
	font-family: Geneva, Tahoma, Verdana, sans-serif;  
}

nav {
	background: OldLace; 
	float: left; 
	width: 100%
}

li {
	float: left;
	margin: 5px;
	background: NavajoWhite;
}

div {
	float: left;
}

p {
	color: white;
}

img {
	width: 300px;
	border: 3px DarkOrange;
}

#pagename {
    color: DarkOrange;
    text-align: center;
}
/*#pictureborder {
	border: 3px DarkOrange;
}*/

#bkgpic {
	background-image: url("../images/koi-pond-bg.jpg");
} 

.topic {
	color: white;
}

.makeorange {
	color: DarkOrange;
}