body {
   text-align: center;
   margin: 200px 0;
}

#recipeBtnDivId {
  margin: 20px;
}

#displayRecipeDivId {
  margin: 0 auto;
  width: 350px;
  font-size: 20px;
  text-align: left;
}

#btn {
  font-size: 13px;
}